.form-2 {
    background-color: rgb(109, 176, 133);
    height: 40%;
    width: 600px;
    float: 30px;
    padding: 20px;
    margin-left: 300px;
    margin-top: 100px;
    color: rgb(241, 233, 233);

}

.text-style {
    font-size: 40px;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXf-m5HmMZ3ZaI3BEUAse8xJw9r2JcQz-Uaw&usqp=CAU);
}