.main {
    font-size: 50px;
    margin-top: 3%;
    margin-left: 22%;
    color: darkslategrey;

}

.alphabet {
    font-size: 50px;
    text-align: center;
    margin: 7px;
    display: inline-block;
    font-weight: bold;

}

















